#clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG91Y2hlZC1kcmFrZS0yNi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=
SIGNING_SECRET=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard


#DB
DATABASE_URL=# Do not expose your Neon credentials to the browser

#Other
NEXT_PUBLIC_APP_URL=localhost:3000
#Development
TEST_COUNTRY=EG


#Stripe
STRIPE_SECRET_KEY=
STRIPE_PREMIUM_PLAN_PRICE_ID=
STRIPE_STANDARD_PLAN_PRICE_ID=
STRIPE_BASIC_PLAN_PRICE_ID=
STRIPE_WEBHOOK_SECRET=